$primaryColor: darkcyan;
$secondaryColor: tan;

html {
  font-family: generalFont;
}
h1 {
  color: $primaryColor;
}
.container {
  &_subtitle {
    color: $secondaryColor;
    display: block;
    height: 140px;
    background: url('../images/Tehran_Iran.jpg');
    display: flex;
    justify-content: center;
  }
  
}
